@charset "utf-8";
.container-fluid .jumbotron {
  background-image: url("images/PicBackground.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
}