@charset "utf-8";
.container-fluid{
    font-family: 'Prompt', sans-serif;
    background-image: url(images/OrangeBackground.webp);
}
.container-fluid .jumbotron .display-4 {
}
.centerImage
{
 text-align:center;
 display:block;
}
.card-body
{
	background: #FCF3EB;
	border-bottom: 5px solid #faa16d;
	border-left: 5px solid #faa16d;
}

